.short-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /*width: 250px;*/
  margin: 0 0 1em 0;
  overflow: hidden;
}

.card-container {
  display: grid;
  perspective: 1000px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card-flip div{
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container-hover .card-flip {
  transform: rotateY(180deg);
}
