.short-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /*width: 250px;*/
  margin: 0 0 1em 0;
  overflow: hidden;
}

.title-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 280px;
  margin: 0 0 0 0;
  padding: 0 0 4px 0;
  overflow: hidden;
  font-size: 15px;
  height: 48px;
}

.card {
  width: 20rem;
  height: 22.50rem;
  background-color: #fff;
}
