<div class="row mr-auto ml-auto">
  <app-card title="Card title"
            imagePath="../../../assets/img/s001.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/s002.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/s003.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/ts001.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/ts002.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/ts003.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/s001.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/s002.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/s003.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/ts001.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/ts002.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
  <app-card title="Card title"
            imagePath="../../../assets/img/ts003.jpg"
            description="This is the description of the item. this shirt is made by best fabric in the word. So it is less weight and more comfortable.">
  </app-card>
</div>
