<nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="background: #28a745 !important;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Customer Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <em class="pi pi-sign-in"  style="font-size: 1.25rem; color: white"></em>
      <a style="color: white; cursor: pointer" class="px-2">Login / Register</a>
    </div>
  </div>
</nav>


<!--<p-menubar [style]="{'background-color': '#7edede'}" class="pt-0 mt-0">
  <div class="form-inline my-2 my-lg-0" style="background: darkslategray">
    <input type="text" class="form-control mr-sm-2" pInputText placeholder="Search">
    <button type="button" class=" my-2 my-sm-0" pButton label="Logout" icon="pi pi-power-off"></button>
  </div>
</p-menubar>-->
